.big-container{
    background-color:rgb(16, 16, 16);
    padding: 5px;
  
} 
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Roboto";
    padding: 10px;
}
.link{
    text-decoration: none;
}

.button{ 
    margin: 10px;
    margin-right: 30px;
    background-color: transparent;
    border-radius: 20px;
    text-decoration:none;
    padding: 10px;
    width: 190px;
    color: white;
    border-left-width: 7px;
    border-bottom-width: 7px;
    border-right-width: 7px;
    border-color: white;
    font-family: "monoton";
    border-top-width: 1px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.heading{
    color: aqua;
    font-family: "monoton";
    font-size: 30px;
    padding: 5px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 0 0 10px rgba(163, 223, 235, 0.8), 0 0 20px rgba(86, 200, 238, 0.8), 0 0 30px rgba(151, 222, 230, 0.8);
}
.button:hover{
    font-weight: bold;
    border-color: aqua;
    color: aqua;
    font-family: "monoton";
    box-shadow: 4px 4px 40px rgba(147, 211, 241);
    cursor:pointer;
}
.line{
    border-color: aqua;
    border-width: 2px;
    color: aqua;
    box-shadow: 20px 20px 80px rgb(70, 186, 240);
    width: 90%;
    
}


.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
     
}
.top1{
    padding: 30px;
    width: 500px;
    border-style: solid;
    border-width: 0px;
    border-color: aqua;
    box-shadow: 5px 5px 20px rgb(169, 216, 238);
    border-radius: 20px;
    font-family: "Roboto";
    border-top-width: 1px;
    border-left-width: 1px;
    cursor: pointer;
    display: inline-block;
    animation: rotate 3s linear infinite;
   
}
@keyframes bump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .top1:hover {
    display: inline-block;
    animation: bump 1s ease-in-out 2;
  }
 
.con-heading{
    color: aqua
}
.para{
    color:#e9f2f3;
    font-size: 20px;
}
.con-img{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}
.img{
    width:600px;
    border-radius: 50px;
    box-shadow: 1px 1px 20px rgb(128, 193, 223);
     
}


.con-middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.middle-heading{
   color: rgb(169, 215, 215);
}
.middle-topic{
    text-decoration: underline;
}
.card-middle{
    text-align: center;
    width: 500px;
    margin-right: 50px;
    border-style: solid;
     
    border-radius: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: rgb(207, 232, 232);
    border-right-width: 1px;
    border-bottom-width: 1px;
   

}

  
.card-middle:hover {
    
    box-shadow: 0px 0px 30px rgb(128, 193, 223);
    cursor: pointer;
  }
 
